.boss {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: skyblue;
  margin-top: 10px;
}

.employee {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #faeb78;
  margin-top: 10px;
}
